<ng-container *ngIf="itemId === 1">
  {{requestNumber}}
  <div class=" my-5 p-4 bg-light shadow-sm rounded">
    <!-- Show New Request button only in the initiated section -->
 

    <div class="mt-4"> 
      <ng-container *ngIf="!isInInitiatedSection">
        <app-our-requests [requestData]="requestData" (requestDataChange)="handleRequestDataChange($event)"></app-our-requests>
      </ng-container>


      <ng-container *ngIf="isInInitiatedSection">
        <app-request-form   [itemId]="itemId" 
        [approvalLevelId]="approvalLevelId" 
        (requestDataChange)="handleRequestDataChange($event)">
          <app-our-requests [requestData]="requestData"></app-our-requests>
        </app-request-form> </ng-container>
    </div>

  </div>

</ng-container>



<ng-container *ngIf="itemId === 2">
  {{requestNumber}}
  <div class=" my-5 p-4 bg-light shadow-sm rounded">
 

    <div class="mt-4"> <ng-container *ngIf="!isInInitiatedSection">
        <app-our-requests [requestData]="requestData"  (requestDataChange)="handleRequestDataChange($event)"></app-our-requests>
      </ng-container>


      <ng-container  *ngIf="isInInitiatedSection">
        <app-request-formb2c [itemId]="itemId" [approvalLevelId]="approvalLevelId">
          <app-our-requests [requestData]="requestData"  (requestDataChange)="handleRequestDataChange($event)"></app-our-requests>
        </app-request-formb2c>
      </ng-container>
    </div>

  </div>

</ng-container>