<div class="container">
  <h1>Transfer Between our Accounts</h1>

  <div class="form-group">
    <label for="accountNumber">Select Account Number to transfer from:</label>
    <select
      id="accountNumber"
      name="accountNumber"
      class="form-control"
      [(ngModel)]="fromAccount"
     
    >
      <option *ngFor="let account of fromAccounts" [value]="account">
        {{ account }}
      </option>
    </select>
  </div>
  <div class="form-group" *ngIf="fromAccount!=''">
    <label for="accountNumber">Select Account Number to transfer to:</label>
    <select
      id="accountNumber"
      name="accountNumber"
      class="form-control"
      [(ngModel)]="toAccount"
    >
      <option *ngFor="let account of toAccounts" [value]="account">
        {{ account }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="debitAccount">Enter Amount:</label>
    <input
      type="number"
      id="amount"
      name="amount"
      class="form-control"
      step="1"
      oncopy="return false;"
      oncut="return false;"
      onpaste="return false;"
      [min]="1"
      (keydown)="validateKey($event)"
      [(ngModel)]="amount"
    />
  </div>
  <button [disabled]="amount==0||amount==null||toAccount==null||fromAccount==null" class="btn btn-primary" style="margin-bottom: 20px;" (click)="addWorkflowInstance()">
    Transfer Amount
  </button>

  <div *ngIf="loading" class="loading">Loading...</div>

 <div *ngIf="info">
  <div *ngIf="error" class="error">{{ error }}</div>
  <div *ngIf="info?.status=='INITIATED'" class="accepted">Status: {{ info?.status }}</div>
  <div *ngIf="info?.status!='INITIATED'" class="warn">Status: {{ info?.status }}</div>
  <hr>
 </div>
 
  <div *ngIf="info" class="content">ID:{{ info.id }}</div>
  <div *ngIf="info" class="content">Sequence Number: {{ info.sequenceNumber }}</div>
  <div *ngIf="info" class="content">Transaction Comment: {{ info.transactionComment }}</div>
  <div *ngIf="info" class="content">Transaction Reference Number: {{ info.transactionReferenceNumber }}</div>
<div *ngIf="info" class="content">createdAt: {{ info.createdAt }}</div>
<div *ngIf="info" class="content">updatedAt: {{ info.updatedAt }}</div>
</div>

<ng-content></ng-content>

